<%- include('../partials/header') %>


<div class="landing">
    <div class="text">
        <div class="pick-category">
            <h1>I would like to view...</h1>
            <div class="options">
                <p>v</p>
            </div>
            <div class="category-list">
                <ul>
                    <li>
                        <a href="/pets/rats">Rats</a>
                    </li>
                    <li>
                        <a href="/pets/mice">Mice</a>
                    </li>
                    <li>
                        <a href="/pets/hams">Hamsters</a>
                    </li>
                    <li>
                        <a href="/pets/gerb">Gerbils</a>
                    </li>
                    <li>
                        <a href="/pets/pigs">Guinea Pigs</a>
                    </li>
                    <li>
                        <a href="/pets/chin">Chinchillas</a>
                    </li>
                    <li>
                        <a href="/pets/rabb">Rabbits</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="landing-img"></div>
</div>

<%- include('../partials/footer') %>