<%- include('../partials/header') %>

<div class="cat-container">
    <div class="cat-title">
        <h2>Rats for Adoption</h2>
    </div>
    <div class="cat-gallery">
        <div class="gallery-tile">
            <img src="/images/RABBIT2.jpg">
            <h4>Name</h4>
            <h4>Age</h4>
            <h4>Location</h4>
        </div>
    </div>
</div>

<%- include('../partials/footer') %>