@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pacifico&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

/* PARTIALS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 30px;
  height: 8vh;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  width: 33%;
}

.nav-links a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.logo {
  font-size: 28px;
  font-weight: lighter;
  letter-spacing: 2px;
  font-family: "Pacifico", sans-serif;
}

.logo a {
  text-decoration: none;
  color: black;
}

.login {
  border: 1px solid black;
  border-radius: 6%;
  background-color: #ffdccc;
}

.login:hover {
  transform: translateY(-5%);
}

/* INDEX */

.landing {
  display: flex;
  height: 92vh;
  width: 100%;
}

.landing > .text {
  width: 60%;
  height: 100%;
  margin-left: 20px;
  position: relative;
}

.text .headlines {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
}

.headlines h1 {
  font-size: 80px;
  margin: 70px 0px;
}

.headlines .view-pets-btn {
  border: 1px solid black;
  border-radius: 5%;
  background-color: #fff06a;
  font-size: 20px;
  padding: 15px;
  position: absolute;
  right: 50%;
  margin: 80px 0px;
  color: black;
  text-decoration: none;
  font-weight: 600;
}

.landing > .landing-img {
  background: url("/images/RABBIT2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 40%;
}

.view-pets-btn:hover {
  transform: translateY(-3%);
}

/* PETS INDEX */

.pick-category {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.pick-category .options {
  width: 400px;
  height: 60px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 24px;
  margin-top: 30px;
  cursor: pointer;
}

.pick-category .options p {
  margin: 0px 10px;
}

.category-list {
  width: 400px;
  height: 400px;
  border: 1px solid black;
  border-top: none;
  display: flex;
  justify-content: center;
  transform: translateY(200%);
}

.list-active {
  transform: translateY(0%);
}

.category-list a {
  text-decoration: none;
  color: black;
}

.category-list li {
  list-style: none;
  margin: 30px;
}

/* CATEGORY PAGES */

.cat-container {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

.cat-title {
  width: 100%;
  margin: 50px 30px;
}

.cat-gallery {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.gallery-tile {
  height: 350px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 50px;
  box-shadow: 0px 5px 8px #888888;
  border-radius: 5%;
}

.gallery-tile:hover {
  transform: translateY(-3%);
}

.gallery-tile img {
  width: 200px;
  height: 200px;
  margin-bottom: 20px;
  object-fit: cover;
}

.cat-name {
  font-size: 20px;
}

/* ACCOUNT  */

.signin-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 92vh;
}

.signin-error img {
  height: 300px;
  width: 300px;
}

.add-new-btn {
  border: 1px solid black;
  border-radius: 3%;
  padding: 10px;
  text-decoration: none;
  color: black;
  background-color: #fff06a;
}

.add-new-btn:hover {
  transform: translateY(-4%);
}

.account-container {
  height: 92vh;
  width: 100%;
  display: flex;
}

.add-half {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.view-half {
  width: 75%;
  height: 100%;
  border: 1px solid rgb(29, 29, 29);
  border-radius: 5px;
}

.view-half h2 {
  margin: 20px;
}

.acct-gallery {
  width: 100%;
  height: 90%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.pet-edit {
  height: 90px;
  width: 200px;
  text-align: center;
}

.edit-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.delete-btn {
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px;
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  background-color: rgb(252, 49, 49);
  cursor: pointer;
}

.form-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-label {
  font-size: 22px;
}

.form-input {
  padding: 5px 10px;
}

.form-area {
  resize: none;
}

.form-drop {
  padding: 5px 10px;
  font-size: 16px;
}

/* SHOW PAGE */

.show-contain {
  height: 92vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.show-img {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px #888888;
}

.show-img img {
  height: 400px;
  width: 400px;
  border-radius: 5%;
  object-fit: cover;
  box-shadow: 0px 5px 8px #666666;
}

.show-img h4 {
  font-size: 24px;
  padding: 20px;
}

.show-info h4 {
  display: inline-block;
  font-size: 20px;
}

.desc-contain {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.desc {
  width: 70%;
  font-size: 20px;
}

.email-btn {
  text-decoration: none;
  color: black;
  background-color: #fff06a;
  border: 2px solid black;
  border-radius: 5%;
  padding: 10px;
}

.form-btn {
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5%;
  outline: none;
}
